<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992147411318-2n0p6mvrsjt6jndqpsgjftdicbne6oai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992147411318-2n0p6mvrsjt6jndqpsgjftdicbne6oai</string>
	<key>API_KEY</key>
	<string>AIzaSyAkoz9pCmspPzLKRIhH4nfm-RGVN3DDRqM</string>
	<key>GCM_SENDER_ID</key>
	<string>992147411318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SIM4.SlimFit</string>
	<key>PROJECT_ID</key>
	<string>slimfit-2a69c</string>
	<key>STORAGE_BUCKET</key>
	<string>slimfit-2a69c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992147411318:ios:5eea6cc8e43fa573f92a57</string>
	<key>DATABASE_URL</key>
	<string>https://slimfit-2a69c.firebaseio.com</string>
</dict>
</plist>